{% extends 'base.html' %} {% block content %}

<style>
  body {
    background-color: #e3e3e3;
    background-image: none !important;
  }
</style>
<h2>We are the Tailblazers</h2>

<h3>Mission Statement</h3>

<p>
  Streamline travel planning with a user friendly platform that allows all your
  planning needs to be met via 1 App: Globetrotter!
</p>

<h3>Vision Satement</h3>
<p>
  Planning a trip can be complicated and time-consuming, especially when its
  with a group. Our vision is to simplify the art of travel planning by
  empowering adventurers to effortlessly create, organize, and share
  personalized itineraries.
</p>

<h3>Who are the Trailblazers?</h3>

<h4>Keyla Nunez</h4>
<img />
<p>
  Hailing from Georgia, from a background in Biology to Software Development,
  with a keen eye for details and passion for designing, Keyla is the Front-End
  Developer, UI Designer and Documenter for Globetrotter. When not working,
  Keyla loves to spend time at cafes and go to concerts.
</p>

<h4>Will Huang</h4>
<img />
<p>
  Pursuing a degree in Computer Science in Boston, with a driven mindset and
  enterprising nature, Will is the Technical Lead and Github Manager for
  Globetrotter. In his free time, Will likes playing volleyball and sleeping.
</p>

<h4>Parsa Chowdhury</h4>
<img />
<p>
  Based out of Toronto, switching from a career in Environmental Science to
  Software Development, having an efficient nature and endless curiosity, Parsa
  is the Back-End Developer, Database Manager and Project Manager for
  Globetrotter. During her time off, Parsa enjoys eating out and travelling.
</p>

{% endblock %}
