{% extends 'base.html' %}

{% block content %}
    <h3>Mission Statement</h3>
    <p>
        Planning a trip can be complicated and time-consuming, especially when its with a group. 
        Globetrotter is a user-friendly platform that streamlines travel planning. 
        We here at Trailblazers have simplified the art of planning by empowering adventurers to effortlessly create, 
        organize, and share personalized itineraries.
    </p>
    <p>So we ask, are you ready to trot around the globe?</p>
{% endblock %}