{% extends 'base.html' %} {% block content %}

<style>
  body {
    background-color: #e3e3e3;
    background-image: none !important;
  }
</style>

<div class="container wrapper mt-4" style="border: red solid 1px;">
    <div class="card">
        <div class="card-header text-center align-items-center" style="background-color: #ebca8b;">
            <h1 class="display-5 font-weight-bold" style="margin: 0 0; padding: 8px 8px 8px 8px">
                We are the Trailblazers
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-12 mb-4">
                <div class="card h-100">
                    <div class="card-header bg-dark text-white">
                        <h3>Mission Statement</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            Streamline travel planning with a user friendly platform that allows all your
                            planning needs to be met via 1 App: Globetrotter!
                        </p>
                    </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="card h-100">
                      <div class="card-header bg-dark text-white">
                        <h3>Vision Satement</h3>
                      </div>
                      <div class="card-body">
                        <p>
                            Planning a trip can be complicated and time-consuming, especially when its
                            with a group. Our vision is to simplify the art of travel planning by
                            empowering adventurers to effortlessly create, organize, and share
                            personalized itineraries.
                        </p>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>


<div class="container wrapper mt-4" style="border: red solid 1px;">
    <div class="card-header text-center align-items-center" style="background-color: #ebca8b;">
      <h1 class="display-5 font-weight-bold" style="margin: 0 0; padding: 8px 8px 8px 8px;">
        Who are the Trailblazers
      </h1>
    </div>
    <br >
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="https://i.imgur.com/iIeg7Tk.png" alt="Keyla" />
                <div class="card-body">
                <h4 class="card-title">Keyla Nunez</h4>
                <p>
                    Hailing from Georgia, from a background in Biology to Software Development,
                    with a keen eye for details and passion for designing, Keyla is the Front-End
                    Developer, UI Designer and Documenter for Globetrotter. <br> When not working,
                    Keyla loves to spend time at cafes and go to concerts.
                </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://i.imgur.com/MveeqNe.jpg" alt="Will" />
                <div class="card-body">
                <h4 class="card-title">Will Huang</h4>
                <p>
                    Pursuing a degree in Computer Science in Boston, with a driven mindset and
                    enterprising nature, Will is the Technical Lead and Github Manager for
                    Globetrotter. <br> In his free time, Will likes playing volleyball and sleeping.
                </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://i.imgur.com/J7mgfM9.png" alt="Parsa" />
                <div class="card-body">
                <h4 class="card-title">Parsa Chowdhury</h4>
                <p>
                    Based out of Toronto, switching from a career in Environmental Science to
                    Software Development, having an efficient nature and endless curiosity, Parsa
                    is the Back-End Developer, Database Manager and Project Manager for
                    Globetrotter. <br> During her time off, Parsa enjoys eating out and travelling.
                </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
