body {
  /* background-color: #e3e3e3; */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp2481186.jpg&f=1&nofb=1&ipt=ac57932b048d27c6c70bfe5a0dc933db1875c6c6d66da2449b6ba76b2d307160&ipo=images");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

/* auth page styles */
.ticket {
  width: 900px;
  border-radius: 10px;
}

.credentials,
.logging {
  display: grid;
  grid-gap: 10px;
  max-width: 350px;
  margin-top: 170px;
  border: 3px solid black; /* Add a border with a color */
  border-radius: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* navbar styles */
.navbar-brand {
  font-size: 40px;
}

.navbar-dark {
  background-color: #5c71e8;
}

footer.page-footer {
  background-color: #5c71e8;
}

/* button styles */
.btn-long {
  width: 200px;
}

.btn.btn-purple {
  background-color: #3345a9;
  color: white;
}

a.btn.add {
  float: right;
}

.list-group {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

/* card styles */
.card-header {
  font-weight: bold;
  border-radius: 10px 10px 0px 0px !important;
}

.card-header.bg-yellow {
  background-color: #ebca8b;
}

.card-header.bg-blue {
  background-color: #5c71e8;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  border: 0px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.wrapper {
  padding-bottom: 2rem;
}

.container.part-2 {
  /* border: 1px solid red; */
  height: 550px;
  overflow-y: scroll;
}

/* .banner {
  background-color: #dcb064;
  padding: 20px 20px 0px 20px;
} */
