body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.navbar-brand {
  font-size: 40px;
}

.navbar-dark {
  background-color: #5c71e8;
}

.ticket {
    width: 700px;
    border-radius: 10px;
}

.credentials,
.logging {
  display: grid;
  grid-gap: 10px;
  max-width: 350px;
  margin-top: 170px;
  border: 3px solid black; /* Add a border with a color */
  border-radius: 30px;
  background-color: #7e8bda;
  padding-top: 30px;
  padding-bottom: 30px;
}

input.first-name,
input.last-name {
  max-width: 150px;
}

footer.page-footer {
  background-color: #5c71e8;
}

button.btn, input.btn, a.btn {
  background-color: rgb(92, 47, 206);
  border: 1rem rgb(92, 47, 206);
  margin: 0 auto;
  color: white;
}

.btn-long {
    width: 200px;
}

label {
    margin: 10px 0px 0px 110px;
}

#id_username, #id_password {
    width: 350px;
    margin-left: 110px;
    padding: 0px 12px;
}

.card-footer {
    background-color: white;
}

.detailpage {
    border: 3px solid black;
}

.list-group {
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
    border-radius: 0;
}

p.card-title {
    font-weight: bold;
    font-size: large;
    margin: 0px 0px;
}

.card-text.extra {
    margin: 0px 0px;
}

a.btn.add {
    float: right;
}