{% extends 'base.html' %} {% block content %}

<p class="red-text">{{ error_message }}</p>

<form method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="container logging">
    <input
      type="text"
      class="username"
      name="username"
      placeholder="Username"
    />
    <input
      type="text"
      class="password"
      name="password"
      placeholder="Password"
    />
    <input type="submit" class="btn" value="Log In" />
  </div>
</form>
{% endblock %}
