<!-- prettier-ignore -->

{% extends 'base.html' %} {% load static %} {% load widget_tweaks %} {% block content %}
<style>
  body {
    /* background-color: #e3e3e3; */
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.25),
      rgba(255, 255, 255, 0.25)
    ),
    url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FArcus_cloud&psig=AOvVaw2eKlOcnrsWrXF0AsXyxY44&ust=1693367443838000&source=images&cd=vfe&opi=89978449&ved=0CA8QjRxqFwoTCLiRp7n7gIEDFQAAAAAdAAAAABAE") !important
  }

  .ticket {
    background-image: url('{% static "images/Globetrotter.jpg" %}');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  label {
    margin: 10px 0px 0px 90px;
  }

  #id_username,
  #id_password {
    width: 330px;
    margin-left: 90px;
    padding: 0px 12px;
  }
</style>

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {% for error in form.non_field_errors %} {{ error }} {% endfor %}
</div>
{% endif %}
<div class="container mt-4 mx-auto">
  <div class="row justify-content-center" style="height: 290px;">
    <div class="card mt-0 ticket">
      <!-- prettier-ignore -->
      <div class="card-body" style="max-height: 70vh; overflow-y: auto; padding: 18px 16px 16px 16px;">
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}" class="">{{ form.username.label }}</label>
              {{ form.username | add_class:'form-control' }}
              {% if form.username.errors %}
              <div class="text-danger">
                {% for error in form.username.errors %}
                {{ error }}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            
            <div class="form-group">
              <label for="{{ form.password.id_for_label }}" class="">{{ form.password.label }}</label>
              {{ form.password | add_class:'form-control' }}
              {% if form.password.errors %}
              <div class="text-danger">
                {% for error in form.password.errors %}
                {{ error }}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-purple btn-long mt-5">Log In</button>
            </div>
          </form>
          <div class="text-center mt-3">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
          </div>
        </div>
      <!-- prettier-ignore-end -->
    </div>
  </div>
</div>
{% endblock %}
