{% extends 'base.html' %} {% load widget_tweaks %} {% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <img
        src="https://via.placeholder.com/300"
        alt="Placeholder Image"
        class="img-fluid"
      />
    </div>
    <div class="col-md-8">
      <div class="card mt-0">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <!-- prettier-ignore -->
        <div class="card-body" style="max-height: 70vh; overflow-y: auto;">
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}" class="text-muted">{{ field.label }}</label>
              {{ field | add_class:'form-control' }}
              {% if field.errors %}
              <div class="text-danger">
                {% for error in field.errors %}
                {{ error }}
                {% endfor %}
              </div>
              {% endif %}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
        <!-- prettier-ignore-end -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
