{% extends 'base.html' %} {% block content %}

<p class="red-text">{{ error_message }}</p>

<!-- prettier-ignore -->
<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="container credentials">
    <div class="name-inputs">
        <input type="text" class="first-name" name="firstname" placeholder="First Name"/>
        <input type="text" class="last-name" name="lastname" placeholder="Last Name"/>
    </div>
    <input type="text" class="username" name="username" placeholder="Username"/>
    <input type="text" class="password" name="password" placeholder="Password"/>
    <input type="text" class="confirm-password" name="confirmpassword" placeholder="Confirm Password"/>
    <input type="submit" class="btn" value="Sign Up" />
  </div>
</form>
<!-- prettier-ignore-end -->
{% endblock %}
