{% extends 'base.html' %} {% block content %}
<div class="container wrapper mt-4">
  <div class="card" style="max-height: 75vh">
    <div class="card-header bg-blue text-white">
      <h3 class="font-weight-bold mb-0">Planned Trips</h3>
    </div>
    <div class="card-body overflow-auto">
      <div class="row">
        {% if itineraries %} {% for itinerary in itineraries %}
        <div class="col-md-12 mb-4">
          <div class="card h-100">
            <div class="card-header bg-yellow text-black">
              <h5 class="font-weight-bold mb-0">{{ itinerary.title }}</h5>
            </div>
            <div class="card-body">
              <p class="card-text mb-1">
                <strong>Date:</strong> {{ itinerary.start_date }} -
                {{itinerary.end_date }}
              </p>
              <p class="card-text mb-1">
                <strong>Destination:</strong> {{ itinerary.location }}
              </p>
            </div>
            <div class="card-footer text-center">
              <a
                href="{% url 'detail_itinerary' itinerary.id %}"
                class="btn btn-purple"
                >View Details</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="col-md-12 text-center">
          <p class="text-muted">No itineraries available.</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
